<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="fileLog" xsi:type="File" fileName="${basedir}/logs/error.log"
            layout="${machinename} ${longdate} MESSAGE:${message}${newline}EXCEPTION:${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileLog" />
  </rules>
</nlog>