Src/*/bin
Src/*/Bin
Src/*/obj
Src/*/Obj
*.user
*.suo
*.log
*.user
*.chk
_ReSharper.*
ReSharper.*

Libs/RavenDB/Server/Data/*
Libs/RavenDB/Server/Raven.Server.log.*
Src/packages/RavenDB.Server.1.0.960/Data/
