@model Deploy.Models.Project.SelectProcedureType
@{
    ViewBag.Title = "Select procedure";
}

<p>
    @using (Html.BeginForm("CreateArguments", "ProjectManager"))
    {
        @Html.DropDownListFor(m => m.ProcedureType, Model.ProcedureTypes)

        <p>
            <input type="submit" value="Create" />
        </p>
    }
</p>
