@model dynamic

@using (Html.BeginForm("CreateCompleted", "ProjectManager"))
{
    @Html.Hidden("ProcedureType")
    @Html.Editor("Name")
    @Html.EditorForModel()

    <p>
        <input type="submit" value="Create" />
    </p>
}