<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="errorFileLog" xsi:type="File" fileName="${basedir}/logs/error.log"
            layout="${longdate} ${machinename} MESSAGE:${message}${newline}EXCEPTION:${exception:format=tostring}"/>
    <target name="debugFileLog" xsi:type="File" fileName="${basedir}/logs/debug.log"
            layout="${longdate} ${machinename} MESSAGE:${message}"/>
  </targets>

  <rules>
    <logger name="*" maxlevel="Debug" writeTo="debugFileLog" />
    <logger name="*" minlevel="Error" writeTo="errorFileLog" />
  </rules>
</nlog>