@model dynamic

@using (Html.BeginForm("Completed", "Project"))
{
    @Html.Hidden("Id")
    @Html.Label("Name", "Project name")<br/>
    @Html.Editor("Name")
    @Html.EditorForModel()

    <p>
        <input type="submit" value="Save" />
    </p>
}